body{
	background: url("polaroid.png") repeat;
	font-family: sans-serif;
}
.home{
	background: url("hw4-pics/IMG_9907.JPG") no-repeat center center;
	background-size: contain;
	background-color: white;
	height: 100%;
}
ul li{
	display: inline-block;
	text-align: center;
	background-color: #E0E0FF;
	margin: 10px;
}
a:link{
	text-decoration: none;
	color: #868699;
}
a:hover{
	font-weight: bold;
}
a:visited{
	color: #868699;
}
.maincontent{
	background-color: rgba(224, 224, 255,.3);
	margin:0 auto;
	width: 500px;
	height: 100%;
}
.header{
	text-align: center;
	margin: 30px;
	padding-top: 20px;
	font-size: 25px;
}
.wrapper{
	height: 300px;
	border: 3px solid grey;
	
}
.leftcol, .rightcol{
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 20px;
	min-height: 100%;
	background-color: rgba(224, 224, 255,.3);
}
.leftcol{
	border-right:3px solid grey;
}
h2{
	font-size: 18px;
	padding-bottom: 15px;
}
.tagline{
	text-align: center;
	margin: 20px;
}
